@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600;700;800&family=Rubik:wght@400;500;700&display=swap');

/*
--- 01 TYOGRAPHY SYSTEM
- FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHTS
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700
Extra Bold: 800

- LINE HEIGHTS:
  Default: 1

- LETTER SPACING

  
  --- 02 COLORS
  - Primary: rgba(0, 0, 51, 1);
  #F15A29
 #808099
 #333;

  *** Tint Dark to Light
  - Tints:


  *** Shade color to dark
  - Shades: rgba(230, 230, 235, 0.6)
  - Accents:
  - Greys: 
  
  --- 05 SHADOWS
#180904
  
  --- 06 BORDER-RADIUS
Default: 11px

  --- 07 WHISTESPACE
  - SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

.charsheet {
  /* background-image: url('https://i.imgur.com/916yRM5.png'); */
  /* background-color: rgba(0, 0, 51, 1); */
  background: linear-gradient(#000033, #808099);

  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  max-width: 80rem;
  max-height: 100rem;
  margin: 0 auto;

  border-radius: 11px;
}

.section-avatar-box {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.section-information {
  display: flex;
  height: auto;
}

.section-information-img-background {
  min-width: 13%;
  margin-right: 1rem;
}

.section-information-img-avatar {
  min-width: 20%;
  position: absolute;
  right: 1rem;
}

.grid-section-information {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.grid-section-information input {
  border: none;
  background: none;
  padding: 0;
  margin-bottom: 0.5rem;

  text-shadow: 0 0.1rem 0.2rem #180904;
}

.grid-section-information input:focus {
  outline: transparent;
}

.hero-name {
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: #f15a29;
  font-weight: 900;
  text-align: center;
  width: 100%;
}

.hero-alt-info-box {
  border: 2px solid #777;
  border-radius: 11px;
  padding: 0.5rem;
  background-color: rgba(230, 230, 235, 0.6);
}

.hero-alt-info {
  grid-column: span 2;
}

.hero-alt-info label,
.hero-alt-info input {
  display: inline;
  width: fit-content;
}

.hero-alt-info label {
  font-size: 1.4rem;
  color: #fff;
}

.hero-alt-info label > input {
  border-radius: 0;
  border-bottom: 1px solid #333;
  padding-left: 0.3rem;
  overflow: hidden;
  text-overflow: clip;

  color: #333;
}
