/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

.charsheet {
  background-image: url("https://i.imgur.com/PWYEOnM.jpg");
  background-repeat: repeat;
  width: 840px;
  margin-right: auto;
  margin-left: auto;
}

.charsheet .sheet-grid-section {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 137px);
  grid-template-rows: 30px 100px 25px 250px 200px 200px;
  grid-template-areas:
    "avatar name    name    name     name          logo"
    "avatar general general general  general       logo"
    "nav     nav     nav     nav     nav           nav"
    "chars   chars   chars   chars   chars         chars"
    "skills  skills  talent  talent  movement      movement"
    "powers  powers  powers  powers  complications complications";
  row-gap: 20px;
  column-gap: 4px;
}

.charsheet .sheet-avatar-bg,
.sheet-character-avatar,
.sheet-character-logo {
  height: 150px;
}

.charsheet label,
input {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.charsheet label {
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: normal;
}

.charsheet input {
  font-size: 14px;
  color: #444;
}

.charsheet input {
  border: 0;
  border-bottom: 1px solid;
  border-radius: 0;
  background: transparent;
  margin-bottom: 15px;
}

.charsheet .sheet-block {
  justify-items: center;
  align-items: center;
  text-align: center;
}

.charsheet .sheet-hero-name {
  font-family: "Zen Dots", Arial, Helvetica, sans-serif;
  font-size: 36px;
  color: orangered;
  text-shadow: 1px 1px 1px rgb(0, 0, 0), 2px 2px 1px red;
  text-align: center;
  background: none;
  width: auto;
  border: 0;
}

.charsheet .sheet-general-box {
  background-color: rgba(170, 170, 170, 0.75);
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.charsheet .sheet-alt-name,
.sheet-age {
  display: inline;
}

.charsheet .sheet-alt-name-input {
  width: 60%;
}

.charsheet .sheet-age-input,
.sheet-eyes-input {
  width: 10%;
  text-align: center;
}

.charsheet .sheet-hair-input {
  width: 20%;
  text-align: center;
}

.charsheet .sheet-avatar {
  grid-area: avatar;
}

.charsheet .sheet-name {
  grid-area: name;
}

.charsheet .sheet-general {
  grid-area: general;
}

.charsheet .sheet-logo {
  grid-area: logo;
}
