@import url("https://fonts.googleapis.com/css2?family=Zen+Dots");

.charsheet {
  background-image: url("https://i.imgur.com/PWYEOnM.jpg");
  background-repeat: repeat;
  min-width: 835px;
  max-width: 850px;
}

.charsheet .sheet-grid-section {
  display: grid;
  grid-template-columns: repeat(6, 135px);
  grid-template-rows: 140px 25px 250px 200px 200px;
  grid-template-areas:
    "avatar general general general  general       logo"
    "nav     nav     nav     nav     nav           nav"
    "chars   chars   chars   chars   chars         chars"
    "skills  skills  talent  talent  movement      movement"
    "powers  powers  powers  powers  complications complications";
  gap: 4px;
}

.charsheet div.sheet-block {
  display: grid;
  justify-items: center;
  align-items: center;
}

.charsheet div.sheet-avatar img,
div.sheet-logo img {
  width: 120px;
  height: 140px;
}

.charsheet div.sheet-general-background {
  background-color: whitesmoke;
  opacity: 30%;
}

.charsheet .sheet-hero-name {
  font-family: "Zen Dots", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: orangered;
  text-shadow: 1px 1px 1px rgb(0, 0, 0), 2px 2px 1px red;
  text-align: center;
  background: none;
  border: 0px;
  min-width: 540px;
}

.charsheet div.sheet-avatar {
  grid-area: avatar;
}

.charsheet div.sheet-general {
  grid-area: general;
}

.charsheet div.sheet-logo {
  grid-area: logo;
}
